.skills-container {
  justify-content: space-around;
  padding: 2rem 0;
}

.skills-container .title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  font-family: var(--main-font);
}

.hard-skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  gap: 1rem;
}
.hard-skill-list li img {
  width: 3rem;
}

.soft-skills-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
  padding: 0 0.5rem;
}
.soft-skills-list li {
  text-align: center;
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .hard-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hard-skill-list li img {
    width: 2.5rem;
  }
  .hard-skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .hard-skill-list li {
    list-style: none;
    font-size: 0.8rem;
    gap: 0.5rem;
  }
}

@media (max-width: 400px) {
  .hard-skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    align-items: center;
  }
  .skills-container .title {
    font-size: 1rem;
    font-weight: 400;
  }
  .soft-skills-list{
    text-align: center;
    
  }
}

@media (max-width: 240px) {
  .hard-skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .soft-skills-list li {
    position: relative;
    list-style: none;
  }
}
