.skills-container {
  justify-content: space-around;
  padding: 2rem 0;
}

.skills-container .title {
  padding: 1rem;
}

.hard-skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;

  gap: 1rem;
}
.hard-skill-list li img {
  width: 3rem;
}

.soft-skills-list {
  gap: 0.5rem;
  padding: 0 0.5rem;
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .hard-skill-list li img {
    width: 2.5rem;
  }

  .soft-skills li {
    font-size: 0.8rem;
  }
  .hard-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
